<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Design Work</h2>
        <hr>
        <br>
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="/ceia/">
                <img class="img-portfolio img-responsive" src="img/thumbnails/ask-thumb.png">
              </a>
              <a href="/ceia/"><h3 class="h3-landing">Consumer Experience Redesign</h3></a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="/ask-cfpb/">
                <img class="img-portfolio img-responsive" src="img/thumbnails/ask-thumb.png">
              </a>
              <a href="/ask-cfpb/"><h3 class="h3-landing">Financial FAQs Redesign</h3></a>
            </div>
          </div>
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="/owning-a-home/">
                <img class="img-portfolio img-responsive" src="img/thumbnails/oah-thumb.png">
              </a>
              <a href="/owning-a-home/"><h3 class="h3-landing">Owning a Home</h3></a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="/complaint/">
                <img class="img-portfolio img-responsive" src="img/thumbnails/complaint-thumb.png">
              </a>
              <a href="/complaint/"><h3 class="h3-landing">Submit a Complaint</h3></a>
            </div>
          </div>
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="/energy-hall/">
                <img class="img-portfolio img-responsive" src="img/thumbnails/energy-thumb.jpg">
              </a>
              <a href="/energy-hall/"><h3 class="h3-landing">Perot Museum Energy Hall</h3></a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="/mineral-hall/">
                <img class="img-portfolio img-responsive" src="img/thumbnails/gem-thumb.jpg">
              </a>
              <a href="/mineral-hall/"><h3 class="h3-landing">Perot Museum Gems and Minerals Hall</h3></a>
            </div>
          </div>
        </div>
        <!-- /.row -->
        <hr>
      </div>
      <!-- /.col-lg-10 -->
  </div>
  <!-- /.container -->
</section>
